header {
    display: flex;
    padding: 0 20px;
    padding-top: 30px;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    img {
        width: 57px;
        border-radius: 50%;
    }

    h1 {
        font-size: 1.375em;
    }

    p {
        font-weight: var(--fonts-w-regular);
        color: var(--fonts-sec);
        font-size: 0.875em;
    }
}